USE [master]
GO
/****** Object:  Database [WorkoutCompanion]    Script Date: 12/19/2018 2:48:09 PM ******/
CREATE DATABASE [WorkoutCompanion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkoutCompanion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkoutCompanion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkoutCompanion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkoutCompanion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkoutCompanion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkoutCompanion]
GO
USE [WorkoutCompanion]
GO
/****** Object:  Table [dbo].[Exercise]    Script Date: 12/19/2018 2:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[ExerciseId] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Description] [varchar](2000) NOT NULL,
	[VideoLink] [varchar](2000) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Exercise] PRIMARY KEY CLUSTERED 
(
	[ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set]    Script Date: 12/19/2018 2:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set](
	[Set_Id] [int] IDENTITY(1,1) NOT NULL,
	[WE_Id] [int] NOT NULL,
	[Reps] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Time] [decimal](18, 0) NOT NULL,
	[Distance] [decimal](18, 0) NOT NULL,
	[Intensity] [int] NOT NULL,
 CONSTRAINT [PK_Set] PRIMARY KEY CLUSTERED 
(
	[Set_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 12/19/2018 2:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/19/2018 2:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](1000) NOT NULL,
	[Hash] [varchar](50) NOT NULL,
	[Salt] [varchar](50) NOT NULL,
	[RoleId] [int] NULL,
	[PictureUrl] [varchar](2000) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Email] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workout]    Script Date: 12/19/2018 2:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workout](
	[WorkoutId] [int] IDENTITY(1,1) NOT NULL,
	[WorkoutName] [varchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Workout] PRIMARY KEY CLUSTERED 
(
	[WorkoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workout_Exercise]    Script Date: 12/19/2018 2:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workout_Exercise](
	[WE_Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkoutId] [int] NOT NULL,
	[ExerciseId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_Workout_Exercise] PRIMARY KEY CLUSTERED 
(
	[WE_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [fk_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeId])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [fk_TypeID]
GO
ALTER TABLE [dbo].[Set]  WITH CHECK ADD  CONSTRAINT [fk_WE_Id] FOREIGN KEY([WE_Id])
REFERENCES [dbo].[Workout_Exercise] ([WE_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Set] CHECK CONSTRAINT [fk_WE_Id]
GO
ALTER TABLE [dbo].[Workout]  WITH CHECK ADD  CONSTRAINT [FK_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Workout] CHECK CONSTRAINT [FK_UserId]
GO
ALTER TABLE [dbo].[Workout_Exercise]  WITH CHECK ADD  CONSTRAINT [fk_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercise] ([ExerciseId])
GO
ALTER TABLE [dbo].[Workout_Exercise] CHECK CONSTRAINT [fk_ExerciseId]
GO
ALTER TABLE [dbo].[Workout_Exercise]  WITH CHECK ADD  CONSTRAINT [fk_WorkoutID] FOREIGN KEY([WorkoutId])
REFERENCES [dbo].[Workout] ([WorkoutId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Workout_Exercise] CHECK CONSTRAINT [fk_WorkoutID]
GO
USE [master]
GO
